.colorFor {
    color: rgb(13, 224, 77);
}

.colorAgainst {
    color: rgb(224, 56, 5);
}

.colorAbstention {
    color: rgb(92, 92, 92);
}

.colorNon {
    color: rgb(233, 150, 25);
}

.is-assembly-blue {
    background-color:rgb(14, 70, 129) !important
}

a {
    color: black;
}

.main-box {
    margin:10px;
}

.voting-table {
    border-radius: 10px;
}

.nowrap {
    white-space: nowrap;
}

.dropdown {
    width: 100%;
}

.dropdown-trigger {
    width: 100%;
}

.group-header {
    margin-bottom: 0px !important;
}

.group-title {
    font-weight: bold;
    margin-left:8px !important;
    margin-bottom:8px !important;
}

.link-combo {
    white-space: normal !important;
}

.is-tooltip-larger::before {
    min-width: 10rem;
}

.ribbon {
    font-size: small;
    background-image: linear-gradient(to right, rgb(252, 163, 38) , rgb(226, 67, 41));
    opacity: 0.7;
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 0 2em; 
    text-align: center; 
    transform: translateY(-100%) rotate(90deg) translateX(70.71067811865476%) rotate(
        -45deg
      ); 
    transform-origin: bottom right;
  }

@media only screen and (max-width: 768px) {
    /* For mobile only */

    .main-box {
        margin:2px !important;
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}

@media only screen and (min-width: 1023px) {
    /* For higher than tablet */

    .dropdown {
        width: 80%;
    }

    .dropdown-trigger {
        width: 80%;
    }
}